@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    @apply min-h-screen bg-white font-serif antialiased;
  }
}

